.commandes-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  border: 1px solid;
  padding: 5px;
  margin-top: 15px;

  border: 1px solid white;
  background-color: white;
  box-shadow: 3px 3px 10px rgb(223, 203, 203);
}

.left {
  display: flex;
  flex-flow: row wrap;
}

.left,
.right {
  padding: 5px;
  flex: 1;
}

.item {
  display: flex;
  flex-flow: row wrap;
}

.column-1 {
  flex: 2;
}
.column-2 {
  flex: 2;
}

.right > div {
  text-align: right;
}

.left > div {
  text-align: left;
}

.btn {
  border: 1px solid #ced4da;
  width: 56px;
  margin: 2px;
  height: 23px;
  font-size: 13px;
  line-height: 4px;
}
