.btn {
  border: 1px solid #ced4da;
  width: 56px;
  margin: 2px;
  height: 23px;
  font-size: 13px;
  line-height: 4px;
}

.footer {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;
  justify-content: space-between;
  padding: 5px;
}

.infos {
  flex: 4;
}

.footer > div {
  flex: 1;
}

.details {
  align-self: flex-end;
}
