.filtres {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: baseline;
  padding: 5px;

  border: 1px solid white;
  background-color: white;
  box-shadow: 3px 3px 10px rgb(223, 203, 203);
}

.left,
.right {
  flex: 1;
}
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.btn {
  width: 28px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  font-weight: bold;
  font-size: 22px;
}
