<div>
  <form class="devis-filter" [formGroup]="form" (ngSubmit)="onFilterDevis()">
    <div class="date-filter">
      <h5>Filtre par date</h5>
      <div class="dates">
        <div>
          <label for="sortBy">Trier par</label>
          <select formControlName="sortBy" id="sortBy" class="form-control">
            <option *ngFor="let sort of sortBy" [ngValue]="sort.value">
              {{ sort.label }}
            </option>
          </select>
        </div>
        <div>
          <label for="month">Mois</label>
          <select formControlName="month" id="month" class="form-control">
            <option *ngFor="let month of months" [ngValue]="month.value">
              {{ month.label }}
            </option>
          </select>
        </div>
        <div>
          <label for="annee">Année</label>
          <select formControlName="year" id="annee" class="form-control">
            <option *ngFor="let year of years" [ngValue]="year.value">
              {{ year.label }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="date-filter target">
      <h5>Recherche ciblée</h5>
      <div class="dates">
        <div>
          <div class="form-group">
            <label for="codeDevis">N°Devis à rechercher</label>
            <input
              formControlName="codeDevis"
              type="text"
              class="form-control"
              id="codeDevis"
            />
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="ref">Référence</label>
            <input
              formControlName="refCli"
              type="text"
              class="form-control"
              id="ref"
              aria-describedby="refHelp"
            />
            <small id="refHelp" class="form-text text-muted">
              4 caractères minimum.
            </small>
          </div>
        </div>
        <div></div>
      </div>
    </div>

    <input
      type="submit"
      class="btn search-btn"
      value="Rechercher"
      [disabled]="form.invalid"
    />
  </form>
</div>
