<div class="devis-list">
  <app-filter
    (filterData)="showFilterForm = !showFilterForm"
    [showFilterInput]="showFilterForm"
    [filterString]="filterString"
  >
    <app-devis-filter
      [defaultFilter]="defaultCriteria"
      (filterDevis)="handleDevisFilter($event)"
    ></app-devis-filter>
  </app-filter>

  <div class="col-container">
    <div *ngFor="let devis of devis$ | async" class="coll">
      <app-devis-item [devis]="devis" [currentId]="currentId"></app-devis-item>
    </div>
  </div>
  <div *ngIf="loading$ | async">Loading...</div>
</div>
